<div class="container-fluid px-0">
  <div class="row gx-0">
    <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center" id="login-image-column">
      <img src="assets/Brain.jpg" alt="Brain" class="img-fluid" style="height: 100vh; object-fit: cover;">
    </div>
    <div id="login-form-column" class="col-12 col-md-6 d-flex align-items-center justify-content-center px-3"
      style="min-height: 100vh; box-sizing: border-box;">
      <div class="card w-100"
        style="max-width: 100%; border: 1px solid #dee2e6; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);">
        <div class="card-header">
          <h1>Login</h1>
        </div>
        <div class="card-body">
          <div *ngIf="hasError" class="alert alert-danger" role="alert">

            <div
              *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.touched || loginForm.get('username')?.dirty)">
              <div *ngIf="loginForm.get('username')?.errors?.['required']">Username is required.</div>
              <div *ngIf="loginForm.get('username')?.errors?.['minlength']">Username must be at least 5 characters long.
              </div>
            </div>
            <div
              *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
              <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
              <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.
              </div>
            </div>
          </div>
          <form [formGroup]="loginForm" class="d-flex flex-column gap-4" autocomplete="off">
            <!--User Name-->
            <div>
              <label for="username" class="form-label">User Name</label>
              <input id="username" type="text" class="form-control" formControlName="username" autocomplete="off"
                autocapitalize="none" autocorrect="off" spellcheck="false">
            </div>

            <!--Password-->
            <div>
              <label for="password" class="form-label">Password</label>
              <div class="input-group">
                <input id="password" [type]="showPassword ? 'text' : 'password'" class="form-control"
                  formControlName="password">
                <span class="input-group-text" (click)="togglePasswordVisibility()" style="cursor: pointer;">
                  {{ showPassword ? '👁️' : '👁️‍🗨️' }}
                </span>
              </div>
            </div>

            <!--Sign In-->
            <div class="mt-5">
              <input type="button" (click)="onSubmit()" class="bg-primary text-white fw-bolder form-control"
                value="Sign In" name="Sign In">
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>